@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  background-color: #88dba3;
  font-family: 'Kosugi Maru', sans-serif;
}

section#score {
  width: 100%;
}
#board {
  width: 600px;
  height: 600px;
  margin: 1em auto;
  background: honeydew;
  padding: 0;
}

#board  > div {
  border: 1.5px solid #88dba3;
  float: left;
  width: 60px;
  height: 60px;
}

section#score div {
  width: 15em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: honeydew;
  border: none;
  border-radius: 5px;
  margin: 1em auto;
}

.gecko {
  background-image: url('../images/leopard.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.worm {
  background-image: url('../images/mealworm.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

section#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  color: brown;
}

.invisible {
  display: none;
  margin-bottom: 100px;
}

.visible {
  display: block;
}

.gameover{

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.gameover h3 {

  font-size: 200px;
  margin: 0;
  color: snow;

}

.gameover strong {

  font-size: 50px;
  margin-bottom: 10px;
  color: whitesmoke;

}

.gameover span {

  font-size: 50px;
  color: whitesmoke;

}

#play-again {

  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  background: white;
  width: 170px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;

}
#play-again:hover {
  border-color: green;
}

.lol {

  margin-top: 80px !important;
}

.color {

  background: #88dba3;
}